NEXT_PUBLIC_FIREBASE_PROJECT_ID=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=YOUR_INFO_HERE.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_APP_ID=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://YOUR_INFO_HERE.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_ADMIN_PASSWORD=YOUR_INFO_HERE
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_INFO_HERE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=YOUR_INFO_HERE.firebaseapp.com